*
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    width: 1200px;
}
.title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.row{
    margin: 20px 0 20px 0;
}
.photo-img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;    
}
.header-title{
    text-align: center;
    font-weight: bold;
}
.post-title{
    text-align: center;
    font-size: 15px;
    margin-top: -15px;
}
.left-column{
    padding: 20px;
    border-radius: 50px;
    min-height: 300px;
    background-color: rgb(180, 180, 180);
}
code{
    background-color:rgb(13, 13, 14);
}
footer{
        width: 100%;
        min-height: 50px;
        background: linear-gradient(135deg, rgb(249, 249, 249) 7%, rgb(45, 45, 45) 80%);
}
.copiright{
    font-size: 12px;
    margin-top: 28px;
    display: inline;
    color: rgb(12, 12, 12);
}
.github{
    margin-top: 20px;
}

