*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.promo{
    min-height: 800px;
    background:url("../img/bg/main_bg.png") center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.logo .logo_img{
    display: block;
    margin: 0 auto;
    
}
.logo .logo_text{
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14px;
}
h1{
    margin-top: 53px;
}
.title{
    color: #f9bf3b; 
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.simple .title_big{
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 21px;
}
h2.title{
    margin-top:30px;
}
.promo .promo_text{
    padding: 0 13px;
    font-family: Roboto;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
}
.promo .promo_text span{
    font-weight: 700;
    color: #f9bf3b;
    

}
.promo .promo_btn, .gift_button{
    display: block;
    margin: 0px auto;
    margin-top: 69px;
    width: 321px;
    height: 80px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.22);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.17);
    font-family: 'Roboto Condensed';
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.21);
    color: #ffffff;
    cursor: pointer;

}
.more{
    margin-top: 69px;
}
.more .more_text{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;   
}
.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}
.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
  
}
.finish .finish_header{
    color: rgb(255, 255, 255);
}
.waiting .waiting_divider, .finish .finish_divider{
   
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
   
}
.waiting .waiting_subheader{
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
    margin-top: 17px;
    text-align: center;
}
.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waitng_descr{
    margin-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
    }
.optimization{
    position: relative;
    min-height: 550px;
    padding: 102px 0 54px 0;
}
.optimization .optimization_header{
    margin-left: 391px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}
.optimization .optimization_text{
    margin-top: 25px;
    margin-left: 389px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
   
}
.optimization .optimization_text span{
    font-weight: 700;
}
.optimization .optimization_img{
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;  
    background:url("../img/bg/second_bg.png") center center/cover no-repeat;
}
.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item{
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}
.finish .finish_wrapper .finish_item .finish_descr{
    
    margin-top: 25px;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #efefef;    
}
.gift{
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 83px 0;
    margin: 0 auto;
}
.gift_img{
    display: flex;
    justify-content: center;
    margin: 0 auto;   
}
.bantik{
    display: flex;
    justify-content: center;
    margin: 0 auto; 

}
.gift_descr{
    margin-top: 42px;
    font-family: Roboto;
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
    color: #252525;
    text-align: center;
}
.gift_button{
    margin-top: 48px;
}

.first_webinar{
    min-height: 515px; 
    padding: 82px 0 64px 0;  
}

.comp_img{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.webinar_descr{
    margin-top: 37px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}
.webinar_descr_middle{
    margin-top: 30px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
    text-align: center;
}
.webinar_descr_low{
    margin-top: 25px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
}
.footer{
    
    min-height: 166px;
    padding: 61px 0 69px 0;
    background: #1a1a1a;
}

a, .container{ 
    color: #888888;
    white-space:normal;
}
ul {display: flex;
    justify-content:center;
    margin:0 auto;
    padding: 0;
    
}

li {
    display: inline;
    
   
}
.support, .politics{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    text-align: center;
}

.tlephone{
    margin-top: 5px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    color: #888888;
    text-decoration: none;
    text-align: center; 
}   



